/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Navbar
.nav-link {
  cursor:pointer;
}

// Container
.container {
  padding: 50px;
}

// Home
.home-page {
  .content {
    p {
      font-size: 20px
    }
  }
}