/* You can add global styles to this file, and also import other style files */

@import "scss/theme.scss";
// Not Found Component
.not-found {
    padding: 15px;
    @media (min-width: 992px) {
        div.message {
            padding: 25px;
        }
    }
}

// Navbar
nav.bg-primary {
    background-color: $primary!important;
}

.nav-link {
    cursor: pointer;
}

// Container
.container {
    padding: 50px;
}

// Home
.home-page {
    .mat-form-field-infix {
        width: 250px;
    }
    .mat-form-field-subscript-wrapper {
        font-size: 90%;
        padding: 5px;
        font-weight: bolder;
    }
    @media (min-width: 992px) {
        .text-left {
            text-align: right!important;
        }
    }
    .dash-summary {
        padding: 20px;
        .negative {
            .mat-form-field-flex {
                color: $warn;
            }
        }
    }
}

// Budget
.budget-management {
    button.space-right {
        margin-right: 30px!important;
    }
    
}