/* You can add global styles to this file, and also import other style files */

@import "scss/theme.scss";
// Not Found Component
.not-found {
    padding: 15px;
    @media (min-width: 992px) {
        div.message {
            padding: 25px;
        }
    }
}

// Navbar
nav.bg-primary {
    background-color: $primary!important;
}

.nav-link {
    cursor: pointer;
}

// Footer
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    background-color: rgba(223, 223, 223, 0.801);
    text-align: center;
}

// Container
.container {
    padding: 50px;
    margin-top: 40px;
}

// Home
.home-page {
    @media (min-width: 992px) {
        .text-left {
            text-align: right!important;
        }
    }
    .dash-summary {
        padding: 20px;
        .negative {
            .mat-form-field-flex {
                color: $warn;
            }
        }
    }
    .fab-button button {
        margin: 10px;
    }
}

// Transaction Management
.transaction-management {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    .mat-table {
        overflow: auto;
        max-height: 500px;
        .mat-row {
            min-height: 65px;
            &.hover {
                background: #cccbcb5b;
            }
        }
        .mat-header-cell.mat-sort-header-sorted {
            color: black;
        }
    }
}

// Global stuff
button.space-right {
    margin-right: 30px!important;
}

.mat-form-field-infix {
    width: 250px!important;
}

.mat-form-field-subscript-wrapper {
    font-size: 90%;
    padding: 5px;
    font-weight: bolder;
}

// Fix for mat-tab auto scroll bar
.mat-tab-body-content {
    overflow: hidden!important;
}

.mat-dialog-actions button.btn {
    margin: 10px;
}

// Remove ugly ring for mouse event.
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}