@import '~@angular/material/theming';

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-deep-orange);
$app-warn : mat-palette($mat-pink);

$primary: mat-color($app-primary, 800);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);