<div class="home-page">
  <div class="content" *showAuthed="true">
    <ng-container *ngIf="budgets && budgets.length > 0; else elseTemplate">
      <budget-heading></budget-heading>
      <mat-tab-group mat-stretch-tabs="yes">
        <mat-tab label="Summary">
          <dash-summary></dash-summary>
        </mat-tab>
        <mat-tab label="Detailed">
          <dash-detailed></dash-detailed>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
    <ng-template #elseTemplate>
      <p>You currently have no budgets, please create at least one.</p>
    </ng-template>
  </div>
</div>