<div class="dash-summary">
  <div class="row" style="display: block">
      <ng-container *ngIf="chartBudgetTotal && chartBudgetTotal.length > 0; else elseTemplate">
    <canvas baseChart [data]="chartBudgetTotal" [labels]="chartBudgetNames" [chartType]="'doughnut'" [colors]="chartColor" [options]="chartOptions">
    </canvas>
  </ng-container>
  <ng-template #elseTemplate>
    <!-- Better layout or empty chart -->
    <p>No transactions for the current period.</p>
  </ng-template>    
  </div>
  <div class="row">
    <div class="col-sm m-3">
      <mat-form-field>
        <input matInput placeholder="Budget Spent" readonly [value]="budgetSpentFormatted">
      </mat-form-field>
    </div>
    <div class="col-sm m-3 text-left" [class.negative]="isRemainingNegative()">
      <mat-form-field>
        <input matInput placeholder="Budget Remaining" readonly [value]="budgetRemainingFormatted">
      </mat-form-field>
    </div>
  </div>
</div>
<div class="fab-button">
    <button class="float-right" mat-fab color="accent" (click)="createTransactionDialog()"><mat-icon>attach_money</mat-icon></button>
</div>